#
# Visual Studio
#

[Dd]ebug/
FinalBuild/
ipch/
[Rr]elease/

*.aps
*.idb
*.ilk
*.ipch
*.map
*.opt
*.plg
*.ncb
*.res
*.sdf
*.suo
*.vcxproj.user
*.vcxprojResolveAssemblyReference.cache


#
# CVS
#

*.scc
*.vspscc